<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Imports" data-toc-modified-id="Imports-1">Imports</a></span><ul class="toc-item"><li><span><a href="#Libraries" data-toc-modified-id="Libraries-1.1">Libraries</a></span></li></ul></li><li><span><a href="#Data-import" data-toc-modified-id="Data-import-2">Data import</a></span><ul class="toc-item"><li><span><a href="#From-a-CSV-file" data-toc-modified-id="From-a-CSV-file-2.1">From a CSV file</a></span></li><li><span><a href="#From-an-Excel-file" data-toc-modified-id="From-an-Excel-file-2.2">From an Excel file</a></span></li></ul></li><li><span><a href="#Data-check" data-toc-modified-id="Data-check-3">Data check</a></span></li><li><span><a href="#Indexes-&amp;-queries" data-toc-modified-id="Indexes-&amp;-queries-4">Indexes &amp; queries</a></span></li><li><span><a href="#Tomato-leaf-size" data-toc-modified-id="Tomato-leaf-size-5">Tomato leaf size</a></span><ul class="toc-item"><li><span><a href="#Read-data" data-toc-modified-id="Read-data-5.1">Read data</a></span></li><li><span><a href="#Modify-table" data-toc-modified-id="Modify-table-5.2">Modify table</a></span><ul class="toc-item"><li><span><a href="#Drop-extra-rows" data-toc-modified-id="Drop-extra-rows-5.2.1">Drop extra rows</a></span></li><li><span><a href="#Fill-empty-cells" data-toc-modified-id="Fill-empty-cells-5.2.2">Fill empty cells</a></span></li></ul></li><li><span><a href="#More-queries" data-toc-modified-id="More-queries-5.3">More queries</a></span><ul class="toc-item"><li><span><a href="#groupby" data-toc-modified-id="groupby-5.3.1">groupby</a></span></li></ul></li></ul></li></ul></div>

# D - Exploratory Data Analysis with pandas

The present notebook shows how to import and handle data from files in the hard disk, as well as how to perform simple exploratory data analysis. 

It demonstrates the following points:

* Read data from csv and xlsx files
* Quick check the data, print a summary
* Queries

## Imports

### Libraries

It is a common practice to name an alias for some common libraries. Some conventions are:

* numpy: **np**
* pandas: **pd**
* matplotlib.pyplot: **plt**

In [50]:
import numpy as np
import pandas as pd

## Data import

We will show how to import data from two common file types: ___comma-separated values___ and ___excel___ files.

The data that we will be using in the following examples comes from:

Schindler, U. G. and Eulenstein, F. (2017). Hydraulic properties of horticultural substrates. Open Data Journal for Agricultural Research, 3. 

It is available at the following link, and has a PDF file describing the columns:
https://odjar.org/article/view/15765

The authors tested a number of substrates for horticultural purposes and give describe their results here to public use. We will be using only the data in **basic_data**, which has the following structure:

<center><img src='../../misc/img/horti-data-structure.png' width='700'></center>

### From a CSV file

<center><img src='../../misc/img/horti-csv.png' width='900'></center>

csv files are raw-text files that separate columns in a table by using a previously defined character, most commonly a comma `,`

Note however, that other characters might be used. For example, Microsoft Excel uses a semicolon `;` when it saves a sheet as csv file!

(like in the example shown)

We can read csv files using the `read_csv` function from pandas. The function's most important argument is the file name:

In [2]:
df_substrates = pd.read_csv( '../../data/substrates/2015_278/hortic_basicdata.csv', sep=',' )

The parameter **sep** was not needed in this case, as the data was separated with a single comma and that is what the function `read_csv()` takes as a default argument. 

It is included here, to show how other files could be read. A common case are csv files created with Microsoft Excel, which are often separated by a semicolon **;**, in which case this parameter is actually needed.

The function `pd.read_csv` returns a ___Data Frame___, which is the most used data type for tables.

In [3]:
type( df_substrates )

pandas.core.frame.DataFrame

This particular table has the following number of rows and columns:

In [4]:
print( df_substrates.shape )

(36, 14)

In [5]:
df_substrates

,HS_ID,APPLICATION,PRICE,ASH_PERC,HH,H,COCOS_PERC,COMPOST_PERC,PERLIT_PERC,CLAY_PERC,MINERAL_PERC,SDRY_PERC,CR5_CM,WT4_SEC
0,1,C,M,28.98,90.0,H4-H8,0,0.0,0,10.0,0,29.2,24.4,5.0
1,2,C,M,33.74,90.0,H2-H5,0,1.0,0,0.0,0,19.1,10.1,20.0
2,3,F,M,72.67,35.0,H2-H8,0,45.0,0,0.0,1,20.2,26.7,12.0
3,4,F,M,5.67,100.0,H3-H9,0,0.0,0,0.0,0,35.9,47.7,13.0
4,5,C,M,31.18,90.0,H3-H8,0,0.0,1,1.0,0,25.3,45.7,0.1
5,6,C/F,M,36.22,40.0,H2-H8,0,50.0,1,0.0,0,22.2,13.1,1.0
6,7,C,M,32.09,90.0,H2-H5,0,0.0,1,1.0,0,27.1,54.7,0.1
7,8,C,H,40.67,NaN,kA,0,0.0,0,0.0,0,23.6,45.3,0.1
8,9,C,H,30.39,90.0,H3-H7,1,1.0,0,1.0,0,27.2,29.3,0.1
9,10,F,H,34.26,90.0,kA,1,1.0,0,0.0,0,22.1,30.6,0.1
10,11,C/F,M,8.93,100.0,H2-H9,0,0.0,0,0.0,0,29.8,30.4,32.0
11,12,F,kA,6.17,100.0,H3-H5,0,0.0,0,0.0,0,22.8,40.5,3.0
12,13,F,kA,29.71,100.0,H5-H8,0,0.0,0,0.0,0,24.1,18.3,57.0
13,14,C/F,M,26.88,80.0,H2-H8,0,20.0,0,0.0,0,24.1,21.8,17.0
14,15,C,M,30.79,80.0,H3-H7,0,17.5,0,0.0,1,31.3,29.0,7.0
15,16,C,M,19.50,90.0,H3-H8,0,1.0,0,0.0,0,23.8,15.9,10.0
16,17,C,M,10.34,95.0,H2-H8,0,0.0,0,1.0,0,35.2,35.3,1.0
17,18,C,M,12.33,80.0,H4-H8,0,1.0,1,0.0,0,29.5,52.7,0.1
18,19,C,H,10.78,96.0,H3-H8,0,0.0,1,0.0,0,27.1,36.4,1.0
19,20,C,H,19.44,100.0,H2-H8,0,0.0,0,0.0,0,27.7,46.4,2.0
20,21,C,M,40.91,90.0,H2-H6,0,1.0,0,0.0,0,19.1,21.5,1.0
21,22,C/F,M,30.33,90.0,H2-H6,0,1.0,0,1.0,1,26.3,29.8,0.1
22,23,C/F,M,17.70,90.0,H2-H5,0,1.0,0,0.0,0,18.4,37.2,19.0
23,24,F,H,33.44,90.0,H2-H8,0,1.0,0,0.0,0,23.4,87.9,0.1
24,25,F,H,35.41,60.0,H3-H7,0,0.0,0,0.0,1,24.7,12.7,3.0
25,26,C,M,39.87,90.0,H3-H7,0,0.0,0,1.0,0,23.4,37.2,32.0
26,27,C,H,36.16,90.0,kA,0,0.0,0,1.0,0,32.1,79.9,240.0
27,28,C/F,H,12.29,90.0,H3-H5,0,0.0,0,1.0,1,27.8,53.4,5.0
28,29,F,M,45.51,82.0,kA,0,10.0,0,2.5,1,24.9,69.6,7.0
29,30,C,M,9.64,90.0,H3-H6,0,0.0,0,1.0,0,24.0,57.7,1.0
30,31,C,M,10.39,97.0,H3-H8,0,0.0,0,1.0,1,28.4,53.0,1.0
31,32,C,H,38.13,90.0,H3-H6,0,0.0,0,1.0,0,20.6,42.9,62.0
32,33,C,H,8.94,0.0,kA,100,0.0,0,0.0,0,14.5,76.3,0.1
33,34,C,H,23.35,0.0,kA,0,1.0,0,1.0,0,13.0,17.9,0.1
34,35,C,M,29.30,100.0,H2-H8,0,0.0,0,0.0,1,27.6,26.0,10.0
35,36,C/F,kA,86.00,30.0,kA,40,40.0,30,0.0,0,8.0,40.1,0.1

Note that pandas:
* tries to use the data in the first row as column names (in this case this is correct)
* adds a column at the beginning, with numbers: that is the ___index___ of all rows
* infers the data type of each column: text, numbers... (this fails if there are mixed types)

### From an Excel file

<img src='../../misc/img/horti-excel.png' width='900'>

In [6]:
# how we read a csv file previously:
# df_substrates = pd.read_csv( '../../data/substrates/2015_278/hortic_basicdata.csv', sep=',' ) 

df_substrates_xlsx = pd.read_excel( '../../data/substrates/2015_278/hortic.xlsx', sheet_name='hortic_basicdata' )

In [7]:
df_substrates_xlsx.head()

,HS_ID,APPLICATION,PRICE,ASH_PERC,HH,H,COCOS_PERC,COMPOST_PERC,PERLIT_PERC,CLAY_PERC,MINERAL_PERC,SDRY_PERC,CR5_CM,WT4_SEC
0,1,C,M,28.98,90.0,H4-H8,0,0.0,0,10.0,0,29.2,24.4,5.0
1,2,C,M,33.74,90.0,H2-H5,0,1.0,0,0.0,0,19.1,10.1,20.0
2,3,F,M,72.67,35.0,H2-H8,0,45.0,0,0.0,1,20.2,26.7,12.0
3,4,F,M,5.67,100.0,H3-H9,0,0.0,0,0.0,0,35.9,47.7,13.0
4,5,C,M,31.18,90.0,H3-H8,0,0.0,1,1.0,0,25.3,45.7,0.1

## Data check

It is often needed to check the data frame to make sure that the data was imported correctly. pandas provides a number of commands to help with this. The first we can use are `.head()` and `.tail()`:

In [8]:
df_substrates.head()

,HS_ID,APPLICATION,PRICE,ASH_PERC,HH,H,COCOS_PERC,COMPOST_PERC,PERLIT_PERC,CLAY_PERC,MINERAL_PERC,SDRY_PERC,CR5_CM,WT4_SEC
0,1,C,M,28.98,90.0,H4-H8,0,0.0,0,10.0,0,29.2,24.4,5.0
1,2,C,M,33.74,90.0,H2-H5,0,1.0,0,0.0,0,19.1,10.1,20.0
2,3,F,M,72.67,35.0,H2-H8,0,45.0,0,0.0,1,20.2,26.7,12.0
3,4,F,M,5.67,100.0,H3-H9,0,0.0,0,0.0,0,35.9,47.7,13.0
4,5,C,M,31.18,90.0,H3-H8,0,0.0,1,1.0,0,25.3,45.7,0.1

In [9]:
df_substrates.tail()

,HS_ID,APPLICATION,PRICE,ASH_PERC,HH,H,COCOS_PERC,COMPOST_PERC,PERLIT_PERC,CLAY_PERC,MINERAL_PERC,SDRY_PERC,CR5_CM,WT4_SEC
31,32,C,H,38.13,90.0,H3-H6,0,0.0,0,1.0,0,20.6,42.9,62.0
32,33,C,H,8.94,0.0,kA,100,0.0,0,0.0,0,14.5,76.3,0.1
33,34,C,H,23.35,0.0,kA,0,1.0,0,1.0,0,13.0,17.9,0.1
34,35,C,M,29.30,100.0,H2-H8,0,0.0,0,0.0,1,27.6,26.0,10.0
35,36,C/F,kA,86.00,30.0,kA,40,40.0,30,0.0,0,8.0,40.1,0.1

`.shape` prints the number of rows and columns in the table, very useful to check that the data was imported correctly.

In [10]:
df_substrates.shape

(36, 14)

Other checks include to show the column names and the data types of each column (automatically inferred by pandas)

In [11]:
df_substrates.columns

Index(['HS_ID', 'APPLICATION', 'PRICE', 'ASH_PERC', 'HH', 'H', 'COCOS_PERC',
       'COMPOST_PERC', 'PERLIT_PERC', 'CLAY_PERC', 'MINERAL_PERC', 'SDRY_PERC',
       'CR5_CM', 'WT4_SEC'],
      dtype='object')

In [12]:
df_substrates.dtypes

HS_ID             int64
APPLICATION      object
PRICE            object
ASH_PERC        float64
HH              float64
H                object
COCOS_PERC        int64
COMPOST_PERC    float64
PERLIT_PERC       int64
CLAY_PERC       float64
MINERAL_PERC      int64
SDRY_PERC       float64
CR5_CM          float64
WT4_SEC         float64
dtype: object

Columns defined as *object* are those where pandas was not able to determine their type. They are "something". It often happens that they are numeric columns with some text values, like an hyphen **-** or words like "missing". In these cases, it is needed to change those values to a numerical (or empty) cell to be able to make calculations later on.

Lastly, for numerical columns, we can get a quick statistical summary by using `.describe()`:

In [13]:
df_substrates.describe()

,HS_ID,ASH_PERC,HH,COCOS_PERC,COMPOST_PERC,PERLIT_PERC,CLAY_PERC,MINERAL_PERC,SDRY_PERC,CR5_CM,WT4_SEC
count,36.000000,36.000000,35.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000
mean,18.500000,28.280833,80.428571,3.944444,5.347222,0.972222,0.680556,0.222222,24.541667,38.816667,15.641667
std,10.535654,17.155247,26.619636,17.761828,12.996604,4.988479,1.703579,0.421637,5.723055,19.274061,41.290707
min,1.000000,5.670000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,10.100000,0.100000
25%,9.750000,12.320000,81.000000,0.000000,0.000000,0.000000,0.000000,0.000000,22.175000,25.600000,0.100000
50%,18.500000,30.020000,90.000000,0.000000,0.000000,0.000000,0.000000,0.000000,24.400000,36.800000,2.500000
75%,27.250000,35.597500,92.500000,0.000000,1.000000,0.000000,1.000000,0.000000,27.725000,48.950000,12.250000
max,36.000000,86.000000,100.000000,100.000000,50.000000,30.000000,10.000000,1.000000,35.900000,87.900000,240.000000

Note that:
* Columns that are **not** numeric, are excluded from this summary (e.g. ***H***)
* The column **HS_ID** is included, even though its value does not have numerical meaning, being only a reference number for each substrate

It is also possible to check those same descriptive statistics separately.

For example, we can get the mean only, without having the other values:

In [14]:
df_substrates.mean()

HS_ID           18.500000
ASH_PERC        28.280833
HH              80.428571
COCOS_PERC       3.944444
COMPOST_PERC     5.347222
PERLIT_PERC      0.972222
CLAY_PERC        0.680556
MINERAL_PERC     0.222222
SDRY_PERC       24.541667
CR5_CM          38.816667
WT4_SEC         15.641667
dtype: float64

## Indexes \& queries

Most commonly we only need to select parts of a table according to conditions.

As an example, we can see the compost content by selecting this column, using the squared brackets syntax:

In [15]:
df_substrates[ 'COMPOST_PERC' ]

0      0.0
1      1.0
2     45.0
3      0.0
4      0.0
5     50.0
6      0.0
7      0.0
8      1.0
9      1.0
10     0.0
11     0.0
12     0.0
13    20.0
14    17.5
15     1.0
16     0.0
17     1.0
18     0.0
19     0.0
20     1.0
21     1.0
22     1.0
23     1.0
24     0.0
25     0.0
26     0.0
27     0.0
28    10.0
29     0.0
30     0.0
31     0.0
32     0.0
33     1.0
34     0.0
35    40.0
Name: COMPOST_PERC, dtype: float64

It is also possible to select several columns simultaneously, passing a list (in squared brackets):

In [16]:
df_substrates[ ['COMPOST_PERC', 'PERLIT_PERC', 'CLAY_PERC'] ]

    COMPOST_PERC  PERLIT_PERC  CLAY_PERC
0            0.0            0       10.0
1            1.0            0        0.0
2           45.0            0        0.0
3            0.0            0        0.0
4            0.0            1        1.0
5           50.0            1        0.0
6            0.0            1        1.0
7            0.0            0        0.0
8            1.0            0        1.0
9            1.0            0        0.0
10           0.0            0        0.0
11           0.0            0        0.0
12           0.0            0        0.0
13          20.0            0        0.0
14          17.5            0        0.0
15           1.0            0        0.0
16           0.0            0        1.0
17           1.0            1        0.0
18           0.0            1        0.0
19           0.0            0        0.0
20           1.0            0        0.0
21           1.0            0        1.0
22           1.0            0        0.0
23           1.0            0        0.0
24           0.0            0        0.0
25           0.0            0        1.0
26           0.0            0        1.0
27           0.0            0        1.0
28          10.0            0        2.5
29           0.0            0        1.0
30           0.0            0        1.0
31           0.0            0        1.0
32           0.0            0        0.0
33           1.0            0        1.0
34           0.0            0        0.0
35          40.0           30        0.0

Lastly, we can apply functions to the single columns, like `.mean()`, `.std()` or `.value_counts()`.

For example, we can count how many substrates are expensive or cheap:

In [17]:
df_substrates['PRICE'].value_counts()

M     21
H     12
kA     3
Name: PRICE, dtype: int64

## Tomato leaf size

A second example of data includes measurements of the size of tomato leaves.

These measurements were taken in the greenhouses in Berlin this year, and include the leaves' length and width in different substrates. 

In the file **lead_size.csv** we have the measurements from the first week, 5 substrates, 3 plants per substrate, each with 2 stems and all leaves longer than 20 cm.

### Read data

In [18]:
df_leaf = pd.read_csv( '../../data/leaf_size.csv', sep=';' )
print( df_leaf.shape )  
df_leaf

(540, 7)

           Date Substrate  Plant Stem     Leaf  Length  Width
0    03/19/2019  Sphagnum  128.0    L   Leaf 1    33.6   25.0
1           NaN       NaN    NaN  NaN   Leaf 2    37.0   30.1
2           NaN       NaN    NaN  NaN   Leaf 3    41.0   31.2
3           NaN       NaN    NaN  NaN   Leaf 4    35.4   24.9
4           NaN       NaN    NaN  NaN   Leaf 5    32.9   22.5
..          ...       ...    ...  ...      ...     ...    ...
535         NaN       NaN    NaN  NaN  Leaf 14     0.0    0.0
536         NaN       NaN    NaN  NaN  Leaf 15     0.0    0.0
537         NaN       NaN    NaN  NaN  Leaf 16     0.0    0.0
538         NaN       NaN    NaN  NaN  Leaf 17     0.0    0.0
539         NaN       NaN    NaN  NaN  Leaf 18     0.0    0.0

[540 rows x 7 columns]

In [19]:
df_leaf.dtypes

Date          object
Substrate     object
Plant        float64
Stem          object
Leaf          object
Length       float64
Width        float64
dtype: object

### Modify table

We will perform a small number of transformations to this table:
* Fill the empty cells with repeated values for all rows below
* Delete rows without values for length and width (leaf 7+)

#### Drop extra rows

Drop lines without measurements: rows with a 0 value in the leaf length

In [20]:
print( df_leaf.shape )
df_leaf.head()

(540, 7)

         Date Substrate  Plant Stem    Leaf  Length  Width
0  03/19/2019  Sphagnum  128.0    L  Leaf 1    33.6   25.0
1         NaN       NaN    NaN  NaN  Leaf 2    37.0   30.1
2         NaN       NaN    NaN  NaN  Leaf 3    41.0   31.2
3         NaN       NaN    NaN  NaN  Leaf 4    35.4   24.9
4         NaN       NaN    NaN  NaN  Leaf 5    32.9   22.5

In [21]:
df_leaf = df_leaf[ df_leaf['Length']>0 ]
print( df_leaf.shape )
df_leaf.head()

(164, 7)

         Date Substrate  Plant Stem    Leaf  Length  Width
0  03/19/2019  Sphagnum  128.0    L  Leaf 1    33.6   25.0
1         NaN       NaN    NaN  NaN  Leaf 2    37.0   30.1
2         NaN       NaN    NaN  NaN  Leaf 3    41.0   31.2
3         NaN       NaN    NaN  NaN  Leaf 4    35.4   24.9
4         NaN       NaN    NaN  NaN  Leaf 5    32.9   22.5

Another possibility to query is to first define the condition, and then use it as index to the data frame. 

In other words, split the query in two lines:

In [1]:
condition = df_leaf['Length']>0 
df_leaf = df_leaf[ condition ]

NameError: name 'df_leaf' is not defined

This can make the code easier to read if the condition is complex, like for example:

In [25]:
condition1 = df_leaf['Leaf']=='Leaf 1'
condition2 = df_leaf['Substrate']=='Sphagnum'
df_leaf[ condition1 & condition2 ]

         Date Substrate  Plant Stem    Leaf  Length  Width
0  03/19/2019  Sphagnum  128.0    L  Leaf 1    33.6   25.0

Notice that in this last example, we got only the Leaf 1 from the left stem. There is another Leaf 1 in the stem 2, and in the other plants from the same substrate, but our query could not match it because it does not have "Sphagnum" in the Substrate column.

That is the reason why we need to fill out those empty cells.

#### Fill empty cells

Cells with a **NaN** values are generally empty, meaning that is Not-a-Number. This is good, as pandas (and numpy) can still perform calculations with these columns and rows, just ignoring the empty cells.

In our case, we would like to fill out the empty cells forward, with the last available value, to get the substrate, plant and stem in all rows, repeated.

In [26]:
df_leaf.head()

         Date Substrate  Plant Stem    Leaf  Length  Width
0  03/19/2019  Sphagnum  128.0    L  Leaf 1    33.6   25.0
1         NaN       NaN    NaN  NaN  Leaf 2    37.0   30.1
2         NaN       NaN    NaN  NaN  Leaf 3    41.0   31.2
3         NaN       NaN    NaN  NaN  Leaf 4    35.4   24.9
4         NaN       NaN    NaN  NaN  Leaf 5    32.9   22.5

`ffill` stands for **forward fill**, meaning that whenever an empty cell (**NaN**) is found, the value from the last, previous one will be taken to fill it.

There is also `bfill` for **backward fill**

In [28]:
df_leaf = df_leaf.ffill()

In [29]:
df_leaf.head()

         Date Substrate  Plant Stem    Leaf  Length  Width
0  03/19/2019  Sphagnum  128.0    L  Leaf 1    33.6   25.0
1  03/19/2019  Sphagnum  128.0    L  Leaf 2    37.0   30.1
2  03/19/2019  Sphagnum  128.0    L  Leaf 3    41.0   31.2
3  03/19/2019  Sphagnum  128.0    L  Leaf 4    35.4   24.9
4  03/19/2019  Sphagnum  128.0    L  Leaf 5    32.9   22.5

Notice that the value needs to be reassigned to `df_leaf`!

Now we can repeat our query from before, to see the Leafs #1 in the Sphagnum substrate

In [30]:
condition1 = df_leaf['Leaf']=='Leaf 1'
condition2 = df_leaf['Substrate']=='Sphagnum'
df_leaf[ condition1 & condition2 ]

          Date Substrate  Plant Stem    Leaf  Length  Width
0   03/19/2019  Sphagnum  128.0    L  Leaf 1    33.6   25.0
18  03/19/2019  Sphagnum  128.0    R  Leaf 1    33.2   27.4
36  03/19/2019  Sphagnum  140.0    L  Leaf 1    30.0   27.4
54  03/19/2019  Sphagnum  140.0    R  Leaf 1    34.3   28.1
72  03/19/2019  Sphagnum  150.0    L  Leaf 1    31.5   25.0
90  03/19/2019  Sphagnum  150.0    R  Leaf 1    32.6   23.2

### More queries

Once the table has been filled out, we can make different kind of queries to search for interesting feats.

We can select only the first leaf of all plants and stems:

In [42]:
df_leaf[ (df_leaf['Leaf']=='Leaf 1') ]

           Date  Substrate  Plant Stem    Leaf  Length  Width
0    03/19/2019   Sphagnum  128.0    L  Leaf 1    33.6   25.0
18   03/19/2019   Sphagnum  128.0    R  Leaf 1    33.2   27.4
36   03/19/2019   Sphagnum  140.0    L  Leaf 1    30.0   27.4
54   03/19/2019   Sphagnum  140.0    R  Leaf 1    34.3   28.1
72   03/19/2019   Sphagnum  150.0    L  Leaf 1    31.5   25.0
90   03/19/2019   Sphagnum  150.0    R  Leaf 1    32.6   23.2
108  03/19/2019   Rockwool  169.0    L  Leaf 1    35.4   22.2
126  03/19/2019   Rockwool  169.0    R  Leaf 1    33.0   23.0
144  03/19/2019   Rockwool  180.0    L  Leaf 1    31.8   21.1
162  03/19/2019   Rockwool  180.0    R  Leaf 1    34.0   27.1
180  03/19/2019   Rockwool  190.0    L  Leaf 1    32.6   22.5
198  03/19/2019   Rockwool  190.0    R  Leaf 1    25.2   14.0
216  03/19/2019       Hemp  210.0    L  Leaf 1    30.0   22.3
234  03/19/2019       Hemp  210.0    R  Leaf 1    26.8   21.4
252  03/19/2019       Hemp  217.0    L  Leaf 1    33.3   21.4
270  03/19/2019       Hemp  217.0    R  Leaf 1    33.7   21.3
288  03/19/2019       Hemp  230.0    L  Leaf 1    34.4   22.7
306  03/19/2019       Hemp  230.0    R  Leaf 1    30.5   26.8
324  03/19/2019  Woodfibre  290.0    L  Leaf 1    32.1   24.6
342  03/19/2019  Woodfibre  290.0    R  Leaf 1    28.1   18.6
360  03/19/2019  Woodfibre  301.0    L  Leaf 1    26.5   17.4
378  03/19/2019  Woodfibre  301.0    R  Leaf 1    32.5   22.3
396  03/19/2019  Woodfibre  310.0    L  Leaf 1    30.3   18.8
414  03/19/2019  Woodfibre  310.0    R  Leaf 1    33.1   23.6
432  03/19/2019        NFT    2.0    L  Leaf 1    35.0   31.9
450  03/19/2019        NFT    2.0    R  Leaf 1    30.7   19.7
468  03/19/2019        NFT    4.0    L  Leaf 1    35.6   23.1
486  03/19/2019        NFT    4.0    R  Leaf 1    28.8   19.1
504  03/19/2019        NFT    6.0    L  Leaf 1    30.9   24.7
522  03/19/2019        NFT    6.0    R  Leaf 1    25.7   17.7

Or only the first leaf of the plants that were together in a greenhouse (the NFT plants where somewhere else):

In [43]:
df_leaf[ (df_leaf['Leaf']=='Leaf 1') & (df_leaf['Substrate']!='NFT') ]

           Date  Substrate  Plant Stem    Leaf  Length  Width
0    03/19/2019   Sphagnum  128.0    L  Leaf 1    33.6   25.0
18   03/19/2019   Sphagnum  128.0    R  Leaf 1    33.2   27.4
36   03/19/2019   Sphagnum  140.0    L  Leaf 1    30.0   27.4
54   03/19/2019   Sphagnum  140.0    R  Leaf 1    34.3   28.1
72   03/19/2019   Sphagnum  150.0    L  Leaf 1    31.5   25.0
90   03/19/2019   Sphagnum  150.0    R  Leaf 1    32.6   23.2
108  03/19/2019   Rockwool  169.0    L  Leaf 1    35.4   22.2
126  03/19/2019   Rockwool  169.0    R  Leaf 1    33.0   23.0
144  03/19/2019   Rockwool  180.0    L  Leaf 1    31.8   21.1
162  03/19/2019   Rockwool  180.0    R  Leaf 1    34.0   27.1
180  03/19/2019   Rockwool  190.0    L  Leaf 1    32.6   22.5
198  03/19/2019   Rockwool  190.0    R  Leaf 1    25.2   14.0
216  03/19/2019       Hemp  210.0    L  Leaf 1    30.0   22.3
234  03/19/2019       Hemp  210.0    R  Leaf 1    26.8   21.4
252  03/19/2019       Hemp  217.0    L  Leaf 1    33.3   21.4
270  03/19/2019       Hemp  217.0    R  Leaf 1    33.7   21.3
288  03/19/2019       Hemp  230.0    L  Leaf 1    34.4   22.7
306  03/19/2019       Hemp  230.0    R  Leaf 1    30.5   26.8
324  03/19/2019  Woodfibre  290.0    L  Leaf 1    32.1   24.6
342  03/19/2019  Woodfibre  290.0    R  Leaf 1    28.1   18.6
360  03/19/2019  Woodfibre  301.0    L  Leaf 1    26.5   17.4
378  03/19/2019  Woodfibre  301.0    R  Leaf 1    32.5   22.3
396  03/19/2019  Woodfibre  310.0    L  Leaf 1    30.3   18.8
414  03/19/2019  Woodfibre  310.0    R  Leaf 1    33.1   23.6

#### groupby

One useful function at this point is `.groupby`, which allows to... Group rows by the values on a column.

Note that it groups the values, but needs to know what to do with them:

In [44]:
df_leaf[ (df_leaf['Leaf']=='Leaf 1') ].groupby( by='Substrate' )

In other words, we need to tell specifically what we want to know for each substrate. There are several possibilities:
* If the values were yield in kg, we may want to know the **sum** by substrate
* In other cases we might want to know the maximum or minimum value for each substrate, or the standar deviation
* In this case, we will look for the **mean** and **standar deviation** for each substrate

In [44]:
df_leaf[ (df_leaf['Leaf']=='Leaf 1') ].groupby( by='Substrate' )

In [37]:
df_leaf[ (df_leaf['Leaf']=='Leaf 1') ].groupby( by='Substrate' ).mean()

                Plant     Length      Width
Substrate
Hemp       219.000000  31.450000  22.650000
NFT          4.000000  31.116667  22.700000
Rockwool   179.666667  32.000000  21.650000
Sphagnum   139.333333  32.533333  26.016667
Woodfibre  300.333333  30.433333  20.883333

In [45]:
df_leaf[ (df_leaf['Leaf']=='Leaf 1') ].groupby( by='Substrate' ).std()

              Plant    Length     Width
Substrate
Hemp       9.077445  2.891885  2.111634
NFT        1.788854  3.744552  5.210758
Rockwool   9.395034  3.555278  4.274927
Sphagnum   9.852242  1.561623  1.906218
Woodfibre  8.959167  2.649277  2.996275

Now, that is not really correct, because we are mixing up older and younger leaves. They will be different in size.

To separate by substrate **and** leaf age, we can pass a list of columns to the parameter **by**, as follows:

In [46]:
df_leaf.groupby( by=['Substrate','Leaf'] )[['Length','Width']].mean()

                     Length      Width
Substrate Leaf
Hemp      Leaf 1  31.450000  22.650000
          Leaf 2  34.533333  26.800000
          Leaf 3  36.516667  25.383333
          Leaf 4  35.283333  25.416667
          Leaf 5  32.980000  22.320000
          Leaf 6  28.200000  13.450000
          Leaf 7  21.900000  16.050000
NFT       Leaf 1  31.116667  22.700000
          Leaf 2  31.666667  22.350000
          Leaf 3  31.833333  22.133333
          Leaf 4  28.350000  18.800000
          Leaf 5  24.350000  15.750000
          Leaf 6  19.800000  14.600000
Rockwool  Leaf 1  32.000000  21.650000
          Leaf 2  34.950000  27.916667
          Leaf 3  35.033333  26.616667
          Leaf 4  34.966667  25.616667
          Leaf 5  27.733333  19.816667
          Leaf 6  24.225000  18.275000
          Leaf 7  20.700000  14.900000
Sphagnum  Leaf 1  32.533333  26.016667
          Leaf 2  34.150000  27.833333
          Leaf 3  34.900000  25.683333
          Leaf 4  31.483333  22.200000
          Leaf 5  25.200000  18.283333
          Leaf 6  23.850000  17.100000
Woodfibre Leaf 1  30.433333  20.883333
          Leaf 2  35.833333  28.950000
          Leaf 3  39.450000  30.716667
          Leaf 4  38.016667  27.200000
          Leaf 5  31.883333  22.050000
          Leaf 6  23.100000  16.266667

Let's finally concentrate on the first two leaves, the older ones, just to get an idea if there is some difference between substrates:

In [55]:
df_leaf[ (df_leaf['Leaf']=='Leaf 1') | (df_leaf['Leaf']=='Leaf 2') ]\
 .groupby( by=['Substrate','Leaf'] )[['Length','Width']] \
 .agg([np.mean, np.std])

                     Length                Width
                       mean       std       mean       std
Substrate Leaf
Hemp      Leaf 1  31.450000  2.891885  22.650000  2.111634
          Leaf 2  34.533333  3.632446  26.800000  5.226854
NFT       Leaf 1  31.116667  3.744552  22.700000  5.210758
          Leaf 2  31.666667  4.054463  22.350000  2.786934
Rockwool  Leaf 1  32.000000  3.555278  21.650000  4.274927
          Leaf 2  34.950000  2.883574  27.916667  3.469534
Sphagnum  Leaf 1  32.533333  1.561623  26.016667  1.906218
          Leaf 2  34.150000  4.146685  27.833333  3.255559
Woodfibre Leaf 1  30.433333  2.649277  20.883333  2.996275
          Leaf 2  35.833333  2.676316  28.950000  2.601346

There is a number of thins happening there:
1. Select only the leaves 1 OR(!!) 2 from the whole table
1. Group them by substrate and leaf number
1. Select only the columns Length and Width
1. Calculate the mean and standard deviation for each group: use `.agg()` and 2 functions from `numpy`

By the way, if a line is getting too long, you can use a backslash **\** to continue in the next line, to make it more readable.

Perhaps the last example was a little overdone, but the idea is to show how the mechanics of queries work, and the kind of functions that can be used in pandas. Hopefully you get an idea of the sort of questions that can be answered and find ways to use these techniques in your own projects.